// Colors
$color-primary: #fcac45;
$color-body: #000;
$color-body-alt:#222222;
$bg-color: #fff;
$alt-color: #727272;
$color-gray: #636363;
$gray-alt :#6c6c6c;
$f-color:#b2b2b2;
// Global Values
$g-value-padding: 20px;
$g-value-border-radius: 2px;
$g-value-animation-duration: .15s;
$g-value-animation-function: 'ease';
$g-value-transition: $g-value-animation-duration $g-value-animation-function;
$g-value-border-radius: 0px;
// Global Fonts
$g-font-family-base: sans-serif;
$g-font-family-logo: 'Lato',
sans-serif;
$p-font-family: 'Open Sans',
sans-serif;