//@@include('inc/header.html')

<!-- Section: Main -->
<main class="l-main">

    <div class="start">
        <div class="container">
            <h1 class="start-title">welcome on <span class="title">spirit8</span> </h1>
            <h3 class="start-subtitle">We are a digital agency with <span class="text"> years of experience </span>and with
                <span class="text"> extraordinary people</span></h3>
            <div class="start-button">
                <a class="components c-button scroll" href="#portfolio"><i class="fas fa-arrow-down"></i></a>
            </div>
        </div>
    </div>

    <div class="about" id="About">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-inner-left">
                        <img class="mac" src="assets/img/mac.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-inner-right">
                        <div class="about-inner-subtitle">About us</div>
                        <div class="about-inner-title">Some words <span class="title">about us</span></div>
                        <div class="about-inner-text">We love building and rebuilding brands through our specific skills. Using colour, fonts, and illustration, we brand companies in a way they will never forget.
                        </div>
                        <ul class="list">
                            <li>Mission - We deliver uniqueness and quality</li>
                            <li>Skills - Delivering fast and excellent results</li>
                            <li>Clients - Satisfied clients thanks to our experience</li>
                        </ul>

                        <a class="components c-button work" href="#."> <img class="btn" src="assets/img/btn.png" alt="">Browse our work

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section-team">
        <div class="container">
            <h1 class="title"><span>Meet</span> our team</h1>
            <div class="row">
                <div class="col-md-3">
                    <div class="team-item">
                        <img class="photo" src="https://via.placeholder.com/128" alt="">
                        <h3 class="name">Jason Statham</h3>
                        <h4 class="prof">Knife designer</h4>
                        <div class="text">Do not seek to change what has come before. Seek to create that which has not.
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-item">
                        <img class="photo" src="https://via.placeholder.com/128" alt="">
                        <h3 class="name">Van Damme</h3>
                        <h4 class="prof">No English</h4>
                        <div class="text">Do not seek to change what has come before. Seek to create that which has not.
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-item">
                        <img class="photo" src="https://via.placeholder.com/128" alt="">
                        <h3 class="name">Jet Li</h3>
                        <h4 class="prof">I need more money</h4>
                        <div class="text">Do not seek to change what has come before. Seek to create that which has not.
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-item">
                        <img class="photo" src="https://via.placeholder.com/128" alt="">
                        <h3 class="name">Sylvester Stallone</h3>
                        <h4 class="prof">Cigar Lover</h4>
                        <div class="text">Do not seek to change what has come before. Seek to create that which has not.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-services" id="Services">
        <div class="container">
            <h1 class="title"><span>take a look at</span> our services</h1>
            <h3 class="subtitle">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first
                line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="inner-item">
                        <div class="item-spec">
                            <img class="img-spec" src="assets/img/web.png" alt="">
                        </div>
                        <h3 class="prof">Web design</h3>
                        <h4 class="text">The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inner-item">
                        <div class="item-spec">
                            <img class="img-spec" src="assets/img/mobile.png" alt="">
                        </div>
                        <h3 class="prof">Mobile apps</h3>
                        <h4 class="text">The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inner-item">
                        <div class="item-spec">
                            <img class="img-spec" src="assets/img/photo.png" alt="">
                        </div>
                        <h3 class="prof">PHOTOGRAPHY</h3>
                        <h4 class="text">The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inner-item">
                        <div class="item-spec">
                            <img class="img-spec" src="assets/img/mark.png" alt="">
                        </div>
                        <h3 class="prof">marketing</h3>
                        <h4 class="text">The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-clients">
        <div class="container">
            <h1 class="title">SOME OF <span>OUR CLIENTS</span></h1>
            <div class="slider">
                <div class="clients-name">
                    <div class="logo-col">
                        <img src="assets/img/chanel.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/zara.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/guer.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/lancome.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/lacost.png" alt="">
                    </div>
                </div>
                <div class="clients-name">
                    <div class="logo-col">
                        <img src="assets/img/chanel.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/zara.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/guer.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/lancome.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/lacost.png" alt="">
                    </div>
                </div>
                <div class="clients-name">
                    <div class="logo-col">
                        <img src="assets/img/chanel.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/zara.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/guer.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/lancome.png" alt="">
                    </div>
                    <div class="logo-col">
                        <img src="assets/img/lacost.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section-portfolio" id="portfolio">
        <div class="container">
            <h1 class="title"><span>take a look at</span> our work</h1>
            <h3 class="subtitle">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first
                line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h3>

            <div class="filter">
                <div class="filter-name">Filter by type</div>
                <div class="filter-nav">
                    <a class="filter-nav-link" href="#." data-filter="all">All</a>
                    <a class="filter-nav-link" href="#." data-filter="Web">Web design</a>
                    <a class="filter-nav-link" href="#." data-filter="Mobile">Mobile design</a>
                    <a class="filter-nav-link" href="#." data-filter="Photograpy">Photograpy</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="filter-item" data-cat="Web">
                        <img class="filter-img" src="assets/img/Trand.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-item" data-cat="Web">
                        <img class="filter-img" src="assets/img/Trand.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                    <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-item" data-cat="Web">
                        <img class="filter-img" src="assets/img/Trand.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                    <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-item" data-cat="Web">
                        <img class="filter-img" src="assets/img/Trand.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                    <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-item" data-cat="Mobile">
                        <img class="filter-img" src="assets/img/zombi.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                    <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-item" data-cat="Mobile">
                        <img class="filter-img" src="assets/img/zombi.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                    <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-item" data-cat="Mobile">
                        <img class="filter-img" src="assets/img/zombi.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                    <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-item" data-cat="Mobile">
                        <img class="filter-img" src="assets/img/zombi.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                    <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-item" data-cat="Photograpy">
                        <img class="filter-img" src="assets/img/mob.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                    <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-item" data-cat="Photograpy">
                        <img class="filter-img" src="assets/img/mob.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                    <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="filter-item" data-cat="Photograpy">
                        <img class="filter-img" src="assets/img/mob.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                    <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-item" data-cat="Photograpy">
                        <img class="filter-img" src="assets/img/mob.png" alt="">
                        <div class="filter-content">
                            <h3 class="filter-title">Trend and fashion</h3>
                            <div class="filter-text">Website design</div>
                            <div class="filter-btn">
                                    <a class="btn-1" href="#."><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-testimonials" id="testimonials">
        <div class="container">
            <div class="slider">
                <div class="slider-bg">
                    <h3 class="title"> our clients’ <span>testimonials</span> </h3>
                    <div class="text">This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    </div>
                    <h5 class="name"> <span>Dean Martin,</span> CEO Acme Inc.</h5>
                </div>
                <div class="slider-bg">
                    <h3 class="title"> our clients’ <span>testimonials</span> </h3>
                    <div class="text">This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    </div>
                    <h5 class="name"> <span>Dean Martin,</span> CEO Acme Inc.</h5>
                </div>
                <div class="slider-bg">
                    <h3 class="title"> our clients’ <span>testimonials</span> </h3>
                    <div class="text">This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    </div>
                    <h5 class="name"> <span>Dean Martin,</span> CEO Acme Inc.</h5>
                </div>
            </div>
        </div>
    </section>

    <section class="section-contact">
        <div class="container">
            <h3 class="title"> <span>feel free to</span> contact us </h3>
            <h3 class="subtitle">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first
                line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h3>
            <form class="form-field" action="">
                <label class="name" for="">Name <span>*</span>
                    <input type="text" placeholder=""></label>
                <label class="email" for="">Email address <span>*</span>
                    <input type="text" placeholder=""></label>
                <label class="area" for="">Message<span>*</span>
                    <textarea type="text" placeholder=""></label></textarea> 
                    <div class="contact-btn">
                        <a class="btn" href="#.">SEND</a>
                    </div>
            </form>           
        </div>
    </section>
</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')