.c-footer {
    background-color: $color-body-alt;
    padding: 2.6rem 0;

    .footer-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;


        @include media-breakpoint-down(xs) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .footer-copy {
        color: #b2b2b2;
        font-family: $p-font-family;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 3.375rem;
        text-transform: uppercase;

        span {
            font-weight: 700;
        }
    }

    .social-btn {
        display: inline-flex;
        margin-right: 10px;
        border: 2px solid #b2b2b2;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;


    }
}