<!-- Section: Footer -->
<footer class="c-footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-copy">ALL RIGHTS RESERVED. COPYRIGHT © 2014 <span>SPIRIT8</span></div>
            <div class="footer-socail">
                <a href="#.">
                    <img class="social" src="assets/img/facebook.png" alt="">
                </a>
                <a href="#.">
                    <img class="social" src="assets/img/twitter.png" alt="">
                </a>
                <a href="#.">
                    <img class="social" src="assets/img/google.png" alt="">
                </a>
                <a href="#.">
                    <img class="social" src="assets/img/linkedin.png" alt="">
                </a>
                <a href="#.">
                    <img class="social" src="assets/img/dribbble.png" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- End of Section: Footer -->

<!-- Scripts -->
<script src="assets/js/vendor.min.js?v=1"></script>
<script src="assets/js/main.min.js?v=1"></script>
<!-- End of Scripts -->

</body>

</html>