<!-- Section: Footer -->
<footer class="c-footer" id="CONTACT">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-copy">ALL RIGHTS RESERVED. COPYRIGHT © 2014 <span>SPIRIT8</span></div>
            <div class="social">
                <a href="#." class="social-btn">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#." class="social-btn">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#." class="social-btn">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#." class="social-btn">
                    <i class="fab fa-linkedin-in"></i></a>
                <a href="#." class="social-btn">
                    <i class="fab fa-dribbble"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- End of Section: Footer -->

<!-- Scripts -->
<script src="assets/js/vendor.min.js?v=1"></script>
<script src="assets/js/main.min.js?v=1"></script>
<!-- End of Scripts -->

</body>

</html>